@import url('https://fonts.cdnfonts.com/css/roboto');
body {
    font-family: 'Roboto'
}

label {
    display: inline-block;
    width: 400px
}

form select {
    padding: 1px 2px;
    min-width: 170px;    
}

input:invalid   {
    background-color:orangered;
}

p.decline {
    background-color: orangered;
    padding: 10px;
    border-radius: 5px;
}